/* CSS pour l'animation */
@keyframes slideIn {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

/* CSS pour le titre et la description */
h1 {
  animation: slideIn 1s ease-out;
  color: blue;/*couleur du h1 changer*/
  font-weight: 500;/*poids de la police changer*/
}

p {
  animation: slideIn 1s ease-out 0.5s;
  color: green;/*changer la couleur du paragraphe */
  font-size: 22px;/*taille du texte paragraphe changer*/
}
